<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Chat box</h1>
    <input id="startchat" type="hidden" data-roomId="<%= id %>"></input>
    <input type="text" id="username" placeholder="username...">
    <input type="text" id="newmsg" placeholder="message...">
    <button id="btn">Send</button>

    <ul id="msgList">

    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

        let startchat = document.getElementById('startchat');

        let btn = document.getElementById('btn');
        let inputMsg = document.getElementById('newmsg');
        let username = document.getElementById('username');
        let msgList = document.getElementById('msgList');

        socket.emit('join_room', {
            roomId : startchat.getAttribute('data-roomId')
        });

        btn.onclick = function exec() {
            socket.emit('msg_send', {
                msg: inputMsg.value ,
                username: username.value,
                roomId : startchat.getAttribute('data-roomId')
            });  
        }

        socket.on('msg_recived', (data) => {
            let listMsg = document.createElement('li');
            listMsg.innerText = `${data.username}:${data.msg}`;
            msgList.appendChild(listMsg);
        })

    </script>
</body>
</html>